@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    transition: 0.2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.keyboard_wrapp {
    max-width: 1008px;
    width: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
}

.row {
    display: flex;
}

.keys {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: 0.2s;
    cursor: pointer;
}

.keys:hover {
    background-color: #eee;
}

.backspace_key {
    width: 120px;
}

.tab_key {
    width: 90px;
}

.slash_key {
    width: 90px;
}

.caps_lock_ley {
    width: 128px;
}

.enter_key {
    width: 120px;
}

.shift_key {
    width: 124px;
}

.space_key {
    max-width: 600px;
    width: 100%;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 26px;
    background-color: #f7f7f7;
    padding-left: 10px;
    transition: 0.2s;
}

.keys.--active {
    background-color: #333;
    color: #fff;
    border-radius: 15px;
}

.keys.--remove {
    animation: keys_animation 0.5s forwards;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}
